@import url('https://fonts.googleapis.com/css?family=Anton|Fjalla+One|Roboto+Slab');

img{
    width: 220px;
    height: 250px;
    border:2px solid #021a40;
    float: right;
}
.wrapper{
    border: 1px solid black;
    border-radius: 20px;
    max-width: 800px;
    margin: auto;
    padding: 1rem;
    background-color: lightblue;
    
}
video{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    min-width: 100%; 
    min-height: 100%;
}

h1,h4{
    font-family: 'Roboto Slab', serif;
}

h3{
    font-family: 'Anton', sans-serif;
}

li,p{
    font-family: 'Fjalla One', sans-serif;
}

.head{
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    margin-right: 40%;
    margin-left: 10%;
}

#jobName{
    font-weight: bold;
    padding-left: 4%;
}

#line_obj{
    padding-left: 4%;
}

.bio{
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 5%;
    padding-right: 5%;
}



