*{
    margin: 0;
    padding: 0;
}
html{
    height:100%;
    overflow: hidden;
}
header{
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    transform-style: inherit;
    width: 100vw;
    color: white;
}
header h1{
    margin-top: -100px;
}
body{
    margin: 0;
    padding: 0;
    transform-style: preserve-3d;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}
header, header:before{
    background: 50% 50% / cover;
}
header::before{
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top:0;
    display: block;
    background-image: url("piano.jpg");
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
    
}
header *{
    font-weight: normal;
    letter-spacing: 0.2em;
    text-align: center;
}
#sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background: black;
    left: -200px;
    transition: all 500ms linear;
}
#sidebar.active{
    left: 0px;
}
#sidebar ul li{
    color:white;
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid grey;
    text-align: center;
    font-size: 1.5em;
}
#sidebar .buttonThing{
    position: absolute;
    left: 230px;
    top: 20px;
}
#sidebar .buttonThing span{
    display: block;
    width: 30px;
    height: 5px;
    background: black; 
    margin: 5px 0px;
    border-radius: 10px;
}
li a {
    color: white;
    text-decoration: none;
}
.wrapper{
    padding: 2em;
    border: 1px solid black;
    border-radius: 10px;
    background-color: grey;
}

