@iterations: 10;
@bar-num: 1;
@top-color-itteration: 1;
@bar-height: 70%, 50%, 90%, 40%;
@bar-width: 170%, 150%, 210%, 100%;
@color:rgb(146, 0, 146),rgb(255, 130, 255),magenta ,rgb(146, 0, 146),rgb(255, 130, 255),magenta, rgb(146, 0, 146);

.title{
    background-image: linear-gradient(to right, extract(@color, 1) , extract(@color, 2));
    font-size: 4em;
    text-align: center;
}

.top{
    display: flex;
    text-align: center;
    border-radius: 25px;
    background-color: rgb(92, 0, 92);
    margin-left: 10%;
    margin-right: 10%;
    .item{
        margin: auto;
        color: white;
        font-family: 'Courier New', Courier, monospace;
    }
    .other-loop (@i) when (@i < 8) {
        .item:nth-child(@{i}) {
            background-color: extract(@color, @i);
        }
        .other-loop(@i + 1);
    }
    
    .other-loop(@top-color-itteration);

    .item:hover{
        background-color: #ECF0F1;
    }
}

.container{
    border: hidden;
    border-radius: 25px;
    background-color: extract(@color, 1);
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 80% 20%;
    grid-template-areas:
        "side bar"
        "side bot"
} 

.sidebar {
    grid-area: side;
    margin: 10%;
    .subItem{
        display:none;
        padding-left: 20px;
    }
    .item:hover .subItem{
        display:block;
    }
    .subItem:hover{
        color:red;
    }
    .item:hover{
        font-weight: bold;
    }
}

.flexbottom{
    display:flex;
    background-color: extract(@color, 3);
    flex-wrap: wrap;
    margin:0;

    h2{
        margin-right:85%;
    }

    .mon{
        padding-top:7px;
        padding-left:10px;
        padding-right: 25px;
        min-width: 110px;
        min-height: 110px;
        margin: 3px;
        border: hidden;
        border-radius: 25px;
        div:nth-child(1){
            font-weight: bold;
        }
    }


    .mon:nth-child(odd){
        background-image: linear-gradient(to right, rgb(68, 1, 68), extract(@color, 1));
    }

    .mon:nth-child(even){
        background-image: linear-gradient(to right, extract(@color, 1) , rgb(68, 0, 68));
    }
}

.barset {
    background-color: green;
    margin-left:30%;
    margin-right:30%;
    margin-top:auto;
    margin-bottom: 0;
}

.bargraph{
    grid-area: bar;
    height: 300px;
    display: grid;
    width: 35%;
    grid-template-columns:20% 50% 50% 50% 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas:
        "bar0 bar1 bar2 bar3 bar4 bar5";
    .make-bar (@i) when (@i < 5) {
        .bar@{i} {
            grid-area: ~"bar@{i}";
            height: extract(@bar-height, @i);
            .barset();
        }
        .make-bar(@i + 1);
    }   
    .make-bar(@bar-num);
}

@media only screen and (max-width:814px){
    .sidebar{
        display: none;
    }
    .top{
        display: inline;
        border: none;
        text-align: left;
        margin:0;
        .item:nth-child(odd){
            background-color: extract(@color, 1);
        }
        
        .item:nth-child(even){
            background-color: extract(@color, 3);
        }
        .item:hover{
            background-color: #ECF0F1;
        }
    }
    .container{
        border: hidden;
        border-radius: 0px;
        background-color: extract(@color, 1);
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        grid-template-areas:
            "bar"
            "bot"
    } 
    .barset{
        background-color:red;
        margin-left: 0;
        margin-right:0;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .bargraph{
        grid-area: bar;
        width: 300px;
        display: grid;
        grid-template-columns:100%;
        grid-template-rows: 17% 17% 17% 17% 17% 17%;
        grid-template-areas:
            "bar0"
            "bar1"
            "bar2"
            "bar3"
            "bar4"
            "bar5";
            width: 35%;
        .make-bar (@i) when (@i < 5) {
            .bar@{i} {
                grid-area: ~"bar@{i}";
                height: 30px;
                width: extract(@bar-width, @i);
                .barset();
            }
            .make-bar(@i + 1);
        }   
        .make-bar(@bar-num);
    }
    .flexbottom{
        display: flex;
        flex-direction: column;
        background-color: extract(@color, 3);
        .mon{
            padding-top:0;
            padding-bottom: 0;
            padding-left: 10px;
            padding-right: 70%;
            margin:3px;
            background-image: radial-gradient(rgb(138, 70, 127) 5%, rgb(134, 48, 121) 15%, rgb(95, 9, 84) 60%);
            color: cyan;
            div:nth-child(1){
                color:blue;
                font-weight: bold;
            }
        }
    }
}